
snippet "(^|[^a-zA-Z\\])mm" "Inline math $ $" rA
`!p snip.rv = match.group(1)`\$ ${1:${VISUAL:}} \$$0
endsnippet

snippet nn "Equation environment with suppressed numbering" bA
\begin{equation*}
	$1
\end{equation*}
$0
endsnippet

snippet all "Align environment with suppressed numbering" bA
\begin{align*}
	$1
\end{align*}
$0
endsnippet

snippet env "New LaTeX environment" b
\begin{$1}
    $2
\end{$1}
$0
endsnippet

snippet sevan "evan sexy" iA
\documentclass[11pt]{scrartcl}
\usepackage[sexy]{evan}
\graphicspath{{~/Dropbox/figures/}}

\author{Nathan Kamgang}

\begin{document}
\title{$1}
\subtitle{$2}
\date{\today}
\maketitle
$0
\end{document}
endsnippet

snippet fig "Include latest figure from Dropbox"
\begin{figure}[ht]
    \centering
    \includegraphics[width=0.8\columnwidth]{`ls -t ~/Dropbox/figures/* | head -1`}
    \caption{${1:caption}}
    \label{fig:${2:label}}
\end{figure}
$0
endsnippet
