global !p

def math():
  return vim.eval('vimtex#syntax#in_mathzone()') == '1'
endglobal


context "math()"
snippet km "Combine" iA 
\frac{$1!}{$2!($1-$2)!}$0
endsnippet

context "math()"
snippet ks "combination in short notation form" iA
\binom{$1}{$2}$0
endsnippet

