global !p

def math():
  return vim.eval('vimtex#syntax#in_mathzone()') == '1'
endglobal


context "math()"
snippet km "Combine" iA 
\frac{$1!}{$2!($1-$2)!}$0
endsnippet

context "math()"
snippet ks "combination in short notation form" iA
\binom{$1}{$2}$0
endsnippet


context "math()"
snippet l; "\bmod{}" iA 
 \bmod{$1}$0
endsnippet

context "math()"
snippet ds "divisibily symbol \mid" iA
 \mid $0
endsnippet

context "math()"
snippet dl "not divisor symbol " iA 
 \nmid $0
endsnippet

context "math()"
snippet gd "gcd" iA
\gcd($1,$2)$0
endsnippet




