snippet sec "\section{}" 
\section{$1}$0
endsnippet

snippet subsec "\subsection{}" 
\subsection{$1}$0
endsnippet

snippet pack "Add a package" 
\usepackage{${1:package name}}$0
endsnippet

snippet uu "underline" 
\underline{$1}$0
endsnippet

snippet bff "Bold" iA
\textbf{$1}$0
endsnippet
snippet para "\paragraph from evan.sty" i
\paragraph{$1}$0
endsnippet



snippet ... "dots" iA
\dots
endsnippet

snippet 1cm "vspace{1cm}" i

\vspace{1cm}

endsnippet

